/* NAVBAR */
body {
  background-color: #f2f2f2;
}
navbar {
  background-color: #fecc00;
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.logo-brand {
  height: 8vh;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 35vh;
  background-image: url(./img/2001-space-odysee.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.movie-title {
  font-family: montserratSemiBold, Arial, Sans-Serif;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}

/***** MOVIE PAGE *****/
.movie-page {
margin: 30px 100px;
padding: 20px;
background-color: white;
}