/* NAVBAR */
body {
  background-color: #f2f2f2;
  font-family: Arial, Sans-serif;
}
navbar {
  background-color: #fecc00;
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.logo-brand {
  height: 8vh;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 35vh;
  background-image: url(./img/2001-space-odysee.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.movie-title {
  font-family: montserratSemiBold, Arial, Sans-Serif;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}

/***** MOVIE PAGE *****/
.movie-page {
  margin: 30px 80px;
  padding: 20px;
  background-color: white;
}

.movie-info {
  display: flex;
}
.movie-info img {
  padding: 15px;
  max-width: 25%;
  margin-right: 30px;
}
.movie-details {
  width: 75%;
}
.movie-details p {
  line-height: 2rem;
}

.synopsis{
  padding: 20px;
  line-height: 1.4;
}
